{% extends "layout.njk" %} <!-- importa o layout.html para essa página -->

{% block head%}
    <title>Sobre - Cadu Fernandes</title>
{% endblock %}

{% block content %} <!-- leva esse bloco de conteúdo para a página layout.html -->

        <div id="wrapper">
            <img src="https://avatars0.githubusercontent.com/u/66188563?s=460&u=40888ad9cad893fc422d56067dfeca054b6d64b3&v=4" alt="Carlos Eduardo">
            <h1>Carlos Eduardo</h1>
            <h2>Web Developer Jr.</h2>
            <p>Programador front-end, focado em aprender sobre CSS e JavaScript. Aluno da <a href="https://rocketseat.com.br" target="_blank">Rocketseat</a></p>
        </div>

        <div id="links-footer" class="links">
            <a href="https://github.com/caduff97" target="_blank">Github</a>
            <a href="https://www.linkedin.com/in/cefilho/" target="_blank">Linkedin</a>
        </div>

{% endblock %}