<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block head%}
            <title>Cadu Fernandes</title>
        {% endblock %}

        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <header>
            <div class="links">
                <a href="/">Sobre</a>
                <a href="/portfolio">Projetos</a>
            </div>
        </header>

        {% block content %}{% endblock %} <!-- cria um bloco de conteúdo -->
        
    </body>
</html>