{% extends "layout.njk" %}
<!-- importa o layout.html para essa página -->

{% block head %}
    <title>Portfolio - Cadu Fernandes</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- leva esse bloco de conteúdo para a página layout.html -->

    <div id="wrapper">
        <h1>Projetos</h1>

    </div>

    <section class="cards">
        {% for item in items %}

            <div class="card" id= "{{item.id}}" >
                <div class="card__image-container {{ 'featured-wrapper' if item.featured }}">
                    <img src="images/ecoleta.png" alt="">
                    {% if item.featured %}
                        <div class="featured">Featured</div>
                    {% endif %}
                </div>

                <div class="card__content">
                    <p>{{item.title}}</p>
                </div>

                <div class="card__info">
                    <p>{{item.description}}</p>
                    <p class="card__date">{{item.date}}</p>
                </div>
            </div>
            
        {% endfor %}

    </section>

    <script src="/scripts.js"></script>

{% endblock %}