{% extends 'layout.njk' %}

{% block head %}
    <title>Rocketseat | Sobre</title>
{% endblock head %}

{% block content %}

    <section id="about" class="description">
        <img src="{{ about.img_url }}" alt="Imagem de {{ about.name }}">

        <div>

            <h1>{{ about.name }}</h1>
            <h2>{{ about.description1 }}</h2>
            <h3>{{ about.description2 }}</h3>
        </div>
    </section>
    <section class="tecnologies">
        <div>
            <h1>Você dominando as melhores tecnologias</h1>
            <ul>
                {% for tecnologie in about.tecnologies %}
                    <li>{{ tecnologie.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <img src="https://rocketseat.com.br/static/images/update/trofeu-home.svg" alt="">
    </section>
    <section class="bottom">
        {% for link in about.links %}
            <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
        {% endfor %}
    </section>

{% endblock content %}