{% extends 'layout.njk' %}

{% block head %}
    <title>Rocketseat | Conteúdos</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock head %}

{% block body %}
    <body class="contents">
{% endblock body %}

{% block content %}

    <section class="contents">
        <div class="cards">

            <div class="card" id="starter">

                <div class="card__image-container">
                    <img src="https://skylab.rocketseat.com.br/static/64c237ccff807c054339a62d53b4b402.svg" alt="starter">
                </div>

                <div class="card__info">
                    <p>N° de módulos</p>
                    <p class="card__price">Price</p>
                </div>
            </div>

            <div class="card" id="launchbase">

                <div class="card__image-container">
                    <img src="https://skylab.rocketseat.com.br/static/0828532024cb46921a6b5e941f8d788d.svg" alt="launchbase">
                </div>

                <div class="card__info">
                    <p>N° de módulos</p>
                    <p class="card__price">Price</p>
                </div>
            </div>

            <div class="card" id="gostack">

                <div class="card__image-container">
                    <img src="https://skylab.rocketseat.com.br/static/83a178a0653dab1d55e2ed7946465975.svg" alt="gostack">
                </div>

                <div class="card__info">
                    <p>N° de módulos</p>
                    <p class="card__price">Price</p>
                </div>
            </div>

        </div>
    </section>

    <div class="modal-overlay">
        <div class="modal">

            <div class="buttons">
                <a class="fullscreen">
                    <i class="material-icons">fullscreen</i>
                </a>
                <a class="close">
                    <i class="material-icons">close</i>
                </a>
            </div>

            <iframe src="" frameborder="0"></iframe>

        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script src="scripts.js"></script>
{% endblock scripts %}
