{% extends 'layout.njk' %}

{% block head %}
    <title>Rocketseat | Página não encontrada</title>
{% endblock head %}

{% block content %}
    <div class="error">
        <h1>Fala Dev. Infelizmente, essa página não pode ser encontrada :/</h1>
        <a href="/">Se quiser voltar para a página inicial, é só clicar aqui.</a>
    </div>
{% endblock content %}
