{% extends "layout.njk" %}

{% block content %}

    <div class="card">
        <section class="avatar"></section>
        
        <section class="details">
            
            <h3>Detalhes</h3>

            <div class="item">
                <div>Nome completo</div>
                <div>Carlos Eduardo Fernandes Filho</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>22 anos</div>
            </div>

            <div class="item">
                <div>Grau de escolaridade</div>
                <div>Ensino Superior Incompleto</div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    <span>Corretagem de imóveis</span>
                    <span>Programação Web</span>
                    <span>Contabilidade</span>
                </div>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>12/02/2020</div>
            </div>

        </section>
    </div>

{% endblock content %}