{% extends "layout.njk" %}

{% block content %}

    <div class="card table-container">
        
        <a href="/students/create">Novo</a>

        <table width="100%">
            <thead>
                <tr>
                    <th>Nome Completo</th>
                    <th>Email</th>
                    <th>Ano escolar</th>
                    <th>Professor</th>
                    <th>Ação</th>
                </tr>
            </thead>
            
            <tbody>
                    {% for student in students %}

                        <tr>
                            <td>
                                <span style="background: url({{ student.avatar_url }}) no-repeat center center / cover"></span>
                                <p>{{ student.name }}</p>
                            <td>
                                <p>{{ student.email }}</p>
                            </td>
                            <td>
                                <p>{{ student.schoolyear }}</p>
                            </td>
                            <td>
                                <p>{{ student.teacher_name }}</p>
                            </td>
                            <td>
                                <a href="/students/{{ student.id }}">ver</a>
                            </td>
                        </tr>

                    {% endfor %}
            </tbody>
    </table>
        
    </div>

{% endblock content %}