{% extends 'layout.njk' %}

{% block content %}
    <div class="error">
    <h1>Sorry, we didn't find this page :/</h1>
    <h2>Please, use the top menu to access any page.</h2>
    </div>


{% endblock content %}